<?xml version="1.0" encoding="utf-8"?>
<!--
Chart Lyrics
http://api.chartlyrics.com/
No user ID or token required

See also: https://www.programmableweb.com/api/chartlyrics-lyric
-->
<configuration>

    <!-- 
    The appSettings are only used during the first/initial startup.
    After the first/initial startup, the XML datafile is used for keeping the settings.
    The XML datafile location is defined in the "LyricsFinderCore.dll.config" configuration file, 
    in the "localAppDataFile" appSetting.
    Default XML datafile location:
    "%USERPROFILE%\Documents\LyricsFinder\LyricsFinder.xml" 

    WARNING: a line break written literally inside an attribute value is replaced by a single
    space when the file is read (XML 1.0, section 3.3.3). A multi line value must therefore use
    the &#xD;&#xA; character references, the way CreditTextFormat does below.
    The alternative is to move the setting into a "lyricService" section as a child element,
    where a literal line break survives; there the continuation lines must start in column 1.
    -->
    <appSettings>
        <add key="Company" value="Chart Lyrics" />
        <add key="CreditTextFormat" value="&#xD;&#xA;&#xD;&#xA;-----------------------------------------------------------&#xD;&#xA;Found by LyricsFinder for JRiver MediaCenter on {Date}&#xD;&#xA;Lyrics found in {ServiceName}&#xD;&#xA;{Company} - {CreditUrl}&#xD;&#xA;{ServiceName} - {ServiceUrl}&#xD;&#xA;-----------------------------------------------------------&#xD;&#xA;" />
        <add key="CreditUrl" value="http://www.chartlyrics.com" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="ServiceName" value="ChartLyrics" />
        <add key="ServiceUrl" value="http://api.chartlyrics.com/apiv1.asmx?WSDL" />
        <add key="Comment" value="No user ID or token required" />
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MessageInspectorBehavior">
                    <messageInspectorBehaviorExtension enabled="false" requestCountBetweenCleanups="1000" fileRetentionHours="24" requestMessageFile="%USERPROFILE%\Documents\LyricsFinder\{yyyyMMdd.HH#########.HHmmss.fff}.Request.xml" responseMessageFile="%USERPROFILE%\Documents\LyricsFinder\{yyyyMMdd.HH#########.HHmmss.fff}.Response.xml" requestConsoleOutputFormat="Writes service request to &quot;{0}&quot;..." responseConsoleOutputFormat="Writes service response to &quot;{0}&quot;..." />
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <bindings>
            <basicHttpBinding>
                <!-- ChartLyrics SOAP 1.1 -->
                <binding name="apiv1Soap" />
            </basicHttpBinding>

            <!-- ChartLyrics SOAP 1.2 -->
            <customBinding>
                <binding name="apiv1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>

        <client>
            <!-- ChartLyrics SOAP 1.1 -->
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" behaviorConfiguration="MessageInspectorBehavior" binding="basicHttpBinding" bindingConfiguration="apiv1Soap" contract="ChartLyricsReference.apiv1Soap" name="apiv1Soap" />

            <!-- ChartLyrics SOAP 1.2 -->
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" behaviorConfiguration="MessageInspectorBehavior" binding="customBinding" bindingConfiguration="apiv1Soap12" contract="ChartLyricsReference.apiv1Soap" name="apiv1Soap12" />
        </client>

        <extensions>
            <behaviorExtensions>
                <add name="messageInspectorBehaviorExtension" type="MediaCenter.SharedComponents.MessageInspectorBehaviorExtensionElement, MessageInspection" />
            </behaviorExtensions>
        </extensions>
    </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Diagnostics.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.1.0.3" newVersion="3.1.0.3" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.54.0.0" newVersion="1.54.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="OpenTelemetry.PersistentStorage.Abstractions" publicKeyToken="7bd6737fe5b67e3c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.3.1043" newVersion="1.0.3.1043" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="OpenTelemetry.PersistentStorage.FileSystem" publicKeyToken="7bd6737fe5b67e3c" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.3.1043" newVersion="1.0.3.1043" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.83.3.0" newVersion="4.83.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.17.0.0" newVersion="8.17.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.83.3.0" newVersion="4.83.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
