<?xml version="1.0" encoding="utf-8"?>
<!--
Chart Lyrics
http://api.chartlyrics.com/
No user ID or token required

See also: https://www.programmableweb.com/api/chartlyrics-lyric
-->
<configuration>

    <!-- 
    The appSettings are only used during the first/initial startup.
    After the first/initial startup, the XML datafile is used for keeping the settings.
    The XML datafile location is defined in the "LyricsFinderCore.dll.config" configuration file, 
    in the "localAppDataFile" appSetting.
    Default XML datafile location:
    "%USERPROFILE%\Documents\LyricsFinder\LyricsFinder.xml" 
    -->
    <appSettings>
        <add key="Company" value="Chart Lyrics"/>
        <add key="CreditTextFormat" value="

-----------------------------------------------------------
Found by LyricsFinder for JRiver MediaCenter on {Date}
Lyrics found in {ServiceName}
{Company} - {CreditUrl}
{ServiceName} - {ServiceUrl}
-----------------------------------------------------------
"/>
        <add key="CreditUrl" value="http://www.chartlyrics.com"/>
        <add key="DateFormat" value="yyyy.MM.dd"/>
        <add key="ServiceName" value="ChartLyrics"/>
        <add key="ServiceUrl" value="http://api.chartlyrics.com/apiv1.asmx?WSDL"/>
        <add key="Comment" value="No user ID or token required"/>
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MessageInspectorBehavior">
                    <messageInspectorBehaviorExtension enabled="false" requestCountBetweenCleanups="1000" fileRetentionHours="24" requestMessageFile="%USERPROFILE%\Documents\LyricsFinder\{yyyyMMdd.HH#########.HHmmss.fff}.Request.xml" responseMessageFile="%USERPROFILE%\Documents\LyricsFinder\{yyyyMMdd.HH#########.HHmmss.fff}.Response.xml" requestConsoleOutputFormat="Writes service request to &quot;{0}&quot;..." responseConsoleOutputFormat="Writes service response to &quot;{0}&quot;..."/>
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <bindings>
            <basicHttpBinding>
                <!-- ChartLyrics SOAP 1.1 -->
                <binding name="apiv1Soap"/>
            </basicHttpBinding>

            <!-- ChartLyrics SOAP 1.2 -->
            <customBinding>
                <binding name="apiv1Soap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>

        <client>
            <!-- ChartLyrics SOAP 1.1 -->
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" behaviorConfiguration="MessageInspectorBehavior" binding="basicHttpBinding" bindingConfiguration="apiv1Soap" contract="ChartLyricsReference.apiv1Soap" name="apiv1Soap"/>

            <!-- ChartLyrics SOAP 1.2 -->
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" behaviorConfiguration="MessageInspectorBehavior" binding="customBinding" bindingConfiguration="apiv1Soap12" contract="ChartLyricsReference.apiv1Soap" name="apiv1Soap12"/>
        </client>

        <extensions>
            <behaviorExtensions>
                <add name="messageInspectorBehaviorExtension" type="MediaCenter.SharedComponents.MessageInspectorBehaviorExtensionElement, MessageInspection"/>
            </behaviorExtensions>
        </extensions>
    </system.serviceModel>

</configuration>
