<?xml version="1.0" encoding="utf-8" ?>

<!-- 
DO NOT ADD THIS PRIVATE FILE TO GIT, SVN OR ANY OTHER SOURCE CONTROL! 
In GIT, add the private file "App.private.config" to the ignore list. 
The template file "App.template.config" is OK to include in source control.
-->

<configuration>

    <appSettings>
        <!-- If you're on the same computer as the server, you can use:  <mcWebServiceUrl value="http://localhost:52199/MCWS/v1" /> (that is, if you haven't changed the MCWS port...) -->
        <add key="mcWebServiceUrl" value="http://localhost:52199/MCWS/v1" />
        <add key="mcWebServiceAccessKey" value="YOUR_OWN_STRING" />
        <add key="mcWebServiceUserName" value="YOUR_OWN_STRING" />
        <add key="mcWebServicePassword" value="YOUR_OWN_STRING" />
    </appSettings>

</configuration>