<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <configSections>
    </configSections>

    <!-- These settings are private and may be configured in an "App.private.config" file for the current DLL: -->
    <!--
    <appSettings>
        <add key="mcWebServiceUrl" value="http://localhost:52199/MCWS/v1" />
        <add key="mcWebServiceAccessKey" value="YOUR_OWN_STRING" />
        <add key="mcWebServiceUserName" value="YOUR_OWN_STRING" />
        <add key="mcWebServicePassword" value="YOUR_OWN_STRING" />
        <add key="lastUpdateCheck" value=""/>
        <add key="updateCheckIntervalDays" value="0"/>
    </appSettings>
    -->

    <appSettings>
        <!-- For log4net debugging only, see system.diagnostics element below -->
        <add key="log4net.Internal.Debug" value="false" />

        <add key="localAppDataFile" value="%USERPROFILE%\Documents\LyricsFinder\LyricsFinder.xml"/>
        <add key="mouseMoveOpenLyricsForm" value="false"/>
        <add key="mcNoLyricsSearchList" value="No Lyrics Found"/>
        <add key="mcWsConnectAttempts" value="10"/>
    </appSettings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <!-- For log4net debugging -->
    <!--
    <system.diagnostics>
      <trace autoflush="true">
        <listeners>
          <add name="textWriterTraceListener" 
               type="System.Diagnostics.TextWriterTraceListener" 
               initializeData="%USERPROFILE%\Documents\LyricsFinder\log4net.diag.log" />
        </listeners>
      </trace>
    </system.diagnostics>
    -->

</configuration>