<?xml version="1.0" encoding="utf-8" ?>

<!--
Lyric Wiki
http://lyrics.wikia.com/
No user ID or token required
-->

<configuration>

    <!-- No private settings needed -->

    <appSettings>
        <add key="Company" value="FANDOM" />
        <add key="CreditTextFormat" value="

-----------------------------------------------------------
Found by LyricsFinder for JRiver MediaCenter on {Date}
Lyrics found in {ServiceName}
{Company} - {CreditUrl}
{ServiceName} - {ServiceUrl}
-----------------------------------------------------------
" />
        <add key="CreditUrl" value="http://lyrics.wikia.com/wiki/LyricWiki" />
        <add key="DailyQuota" value="0" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="QuotaResetTimeZone" value="UTC" />
        <add key="ServiceName" value="LyricWiki" />
        <add key="ServiceUrl" value="http://lyrics.wikia.com/server.php?wsdl" />
    </appSettings>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MessageInspectorBehavior">
                    <messageInspectorBehaviorExtension
                      enabled="true"
                      requestCountBetweenCleanups="1000"
                      fileRetentionHours="24"
                      requestMessageFile="%USERPROFILE%\Documents\LyricsFinder\{yyyyMMdd.HH#########.HHmmss.fff}.Request.xml"
                      responseMessageFile="%USERPROFILE%\Documents\LyricsFinder\{yyyyMMdd.HH#########.HHmmss.fff}.Response.xml"
                      requestConsoleOutputFormat="Writes service request to &quot;{0}&quot;..."
                      responseConsoleOutputFormat="Writes service response to &quot;{0}&quot;..." />
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <bindings>
            <basicHttpBinding>
                <!-- LyricWiki -->
                <binding name="LyricWikiBinding" />
            </basicHttpBinding>
        </bindings>

        <client>
            <!-- LyricWiki -->
            <endpoint address="http://lyrics.wikia.com/server.php"
              behaviorConfiguration="MessageInspectorBehavior"
              binding="basicHttpBinding"
              bindingConfiguration="LyricWikiBinding" contract="LyricWikiServiceReference.LyricWikiPortType"
              name="LyricWikiPort" />
        </client>

        <extensions>
            <behaviorExtensions>
                <add name="messageInspectorBehaviorExtension"
                  type="MediaCenter.SharedComponents.MessageInspectorBehaviorExtensionElement, MessageInspection" />
            </behaviorExtensions>
        </extensions>
    </system.serviceModel>

</configuration>