<?xml version="1.0" encoding="utf-8" ?>

<!--
AZLyrics
https://www.azlyrics.com/
No user ID or token required
-->

<configuration>

    <appSettings>
        <add key="Company" value="AZLyrics" />
        <add key="CreditTextFormat" value="

-----------------------------------------------------------
Found by LyricsFinder for JRiver MediaCenter on {Date}
Lyrics found in {ServiceName}
{Company} - {CreditUrl}
{ServiceName} - {ServiceUrl}
-----------------------------------------------------------
" />
        <add key="CreditUrl" value="https://azlyrics.com" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="ServiceName" value="AZLyrics" />
        <add key="ServiceUrl" value="https://search.azlyrics.com/search.php" />
    </appSettings>

</configuration>