<?xml version="1.0" encoding="utf-8" ?>

<!--
Musixmatch API
http://www.musixmatch.com/
No user ID required
Token required, may be obtained from: https://developer.musixmatch.com/signup
-->

<configuration>

    <appSettings>
        <add key="Company" value="Musixmatch" />
        <add key="CreditTextFormat" value="

-----------------------------------------------------------
Found by LyricsFinder for JRiver MediaCenter on {Date}
Lyrics found in {ServiceName}
{Company} - {CreditUrl}
{ServiceName} - {ServiceUrl}
{Copyright}
-----------------------------------------------------------
" />
        <add key="CreditUrl" value="https://www.musixmatch.com" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="ServiceName" value="Musixmatch API" />
        <add key="ServiceUrl" value="http://api.musixmatch.com/ws/1.1" />
        <add key="Comment" value="No user ID required. 
Token required, may be obtained from: 
https://developer.musixmatch.com/signup. 
Only the first 30% of found lyric text is returned under the free plan. 
Paid plans are available" />
    </appSettings>

</configuration>