<?xml version="1.0" encoding="utf-8" ?>

<!--
Musixmatch API
http://www.musixmatch.com/
No user ID required
Token required, may be obtained from: 
-->

<configuration>

    <!-- These settings are private and may be configured in an "App.private.config" file for the current DLL: -->
    <!--
    <appSettings>
        <add key="token" value="YOUR_OWN_STRING" />
    </appSettings>
    -->

    <appSettings>
        <add key="Company" value="Apiseeds" />
        <add key="CreditTextFormat" value="

-----------------------------------------------------------
Found by LyricsFinder for JRiver MediaCenter on {Date}
Lyrics found in {ServiceName}
{Company} - {CreditUrl}
{ServiceName} - {ServiceUrl}
{Copyright}
-----------------------------------------------------------
" />
        <add key="CreditUrl" value="https://apiseeds.com/" />
        <add key="DailyQuota" value="0" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="QuotaResetTimeZone" value="UTC" />
        <add key="ServiceName" value="Apiseeds Lyrics API" />
        <add key="ServiceUrl" value="https://orion.apiseeds.com/api/music/lyric/" />
    </appSettings>

</configuration>