<?xml version="1.0" encoding="utf-8"?>
<!--
Lololyrics Lyrics API
http://api.lololyrics.com/
No user ID or token required

See also: https://www.programmableweb.com/api/lololyrics-rest-api
-->
<configuration>

    <!-- 
    The appSettings are only used during the first/initial startup.
    After the first/initial startup, the XML datafile is used for keeping the settings.
    The XML datafile location is defined in the "LyricsFinderCore.dll.config" configuration file, 
    in the "localAppDataFile" appSetting.
    Default XML datafile location:
    "%USERPROFILE%\Documents\LyricsFinder\LyricsFinder.xml" 
    -->
    <appSettings>
        <add key="Company" value="Lololyrics" />
        <add key="CreditTextFormat" value="

-----------------------------------------------------------
Found by LyricsFinder for JRiver MediaCenter on {Date}
Lyrics found in {ServiceName}
{Company} - {CreditUrl}
{ServiceName} - {ServiceUrl}
-----------------------------------------------------------
"/>
        <add key="CreditUrl" value="http://api.lololyrics.com" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="ServiceName" value="Lololyrics" />
        <add key="ServiceUrl" value="http://api.lololyrics.com/0.5/getLyric" />
        <add key="Comment" value="No user ID or token required." />
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

</configuration>