<?xml version="1.0" encoding="utf-8"?>

<!--
STANDS4 Lyrics.com
https://www.lyrics.com/
User ID and Token required, may be obtained from: https://www.abbreviations.com/api.php
-->

<configuration>

    <appSettings>
        <add key="Company" value="STANDS4 Network" />
        <add key="CreditTextFormat" value="

-----------------------------------------------------------
Found by LyricsFinder for JRiver MediaCenter on {Date}
Lyrics found in {ServiceName}
{Company} - {CreditUrl}
{ServiceName} - {ServiceUrl}
-----------------------------------------------------------
" />
        <add key="CreditUrl" value="https://www.lyrics.com" />
        <add key="DailyQuota" value="100" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="QuotaResetTime" value="04:00:00" />
        <add key="QuotaResetTimeZone" value="Eastern Standard Time" />
        <add key="ServiceName" value="STANDS4 Lyrics.com" />
        <add key="ServiceUrl" value="https://www.abbreviations.com/services/v2/lyrics.php" />
        <add key="Comment" value="User ID and Token required, may be obtained from: 
https://www.abbreviations.com/api.php" />
    </appSettings>

    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>

        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>

</configuration>