<?xml version="1.0" encoding="utf-8" ?>

<!-- 
DO NOT ADD THIS PRIVATE FILE TO GIT, SVN OR ANY OTHER SOURCE CONTROL! 
In GIT, add the private file "App.private.config" to the ignore list. 
The template file "App.template.config" is OK to include in source control.
-->

<configuration>

    <appSettings>
        <add key="dailyQuota" value="YOUR_OWN_STRING" />
        <add key="token" value="YOUR_OWN_STRING" />
        <add key="userId" value="YOUR_OWN_STRING" />
    </appSettings>

</configuration>