<?xml version="1.0" encoding="utf-8" ?>

<!--
STANDS4 Lyrics.com
https://www.lyrics.com/
User ID and Token required, may be obtained from: https://www.abbreviations.com/api.php
-->

<configuration>

    <!-- These settings are private and may be configured in an "App.private.config" file for the current DLL: -->
    <!--
    <appSettings>
        <add key="dailyQuota" value="YOUR_OWN_STRING" />
        <add key="token" value="YOUR_OWN_STRING" />
        <add key="userId" value="YOUR_OWN_STRING" />
    </appSettings>
    -->

    <appSettings>
        <add key="Company" value="STANDS4 Network" />
        <add key="CreditTextFormat" value="

-----------------------------------------------------------
Found by LyricsFinder for JRiver MediaCenter on {Date}
Lyrics found in {ServiceName}
{Company} - {CreditUrl}
{ServiceName} - {ServiceUrl}
-----------------------------------------------------------
" />
        <add key="CreditUrl" value="https://www.lyrics.com" />
        <add key="DailyQuota" value="100" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="QuotaResetTimeZone" value="UTC" /> <!-- Should we use "Eastern Standard Time" instead? -->
        <add key="ServiceName" value="STANDS4 Lyrics.com" />
        <add key="ServiceUrl" value="https://www.abbreviations.com/services/v2/lyrics.php" />
    </appSettings>

</configuration>