<?xml version="1.0" encoding="utf-8"?>
<!--
STANDS4 Lyrics.com
https://www.lyrics.com/
User ID and Token required, may be obtained from: https://www.abbreviations.com/api.php

See also: https://www.programmableweb.com/api/stands4-lyrics
-->
<configuration>

    <!-- 
    The appSettings are only used during the first/initial startup.
    After the first/initial startup, the XML datafile is used for keeping the settings.
    The XML datafile location is defined in the "LyricsFinderCore.dll.config" configuration file, 
    in the "localAppDataFile" appSetting.
    Default XML datafile location:
    "%USERPROFILE%\Documents\LyricsFinder\LyricsFinder.xml" 
    -->
    <appSettings>
        <add key="Company" value="STANDS4 Network" />
        <add key="CreditTextFormat" value="  ----------------------------------------------------------- Found by LyricsFinder for JRiver MediaCenter on {Date} Lyrics found in {ServiceName} {Company} - {CreditUrl} {ServiceName} - {ServiceUrl} ----------------------------------------------------------- " />
        <add key="CreditUrl" value="https://www.lyrics.com" />
        <add key="DailyQuota" value="100" />
        <add key="DateFormat" value="yyyy.MM.dd" />
        <add key="QuotaResetTime" value="04:00:00" />
        <add key="QuotaResetTimeZone" value="Eastern Standard Time" />
        <add key="ServiceName" value="STANDS4 Lyrics.com" />
        <add key="ServiceUrl" value="https://www.abbreviations.com/services/v2/lyrics.php" />
        <add key="Comment" value="User ID and Token required, may be obtained from:  https://www.abbreviations.com/api.php A daily quota of 100 requests limit is enforced under the free plan.  Paid plans are available." />
    </appSettings>

    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>

        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
